<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hcc.stepuplife"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hcc.stepuplife.Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hcc.stepuplife.Accelerometer"
            android:label="@string/title_activity_accelerometer" >
        </activity>
        <activity
            android:name="hcc.stepuplife.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="hcc.stepuplife.CreateProfileActivity"
            android:label="@string/title_activity_create_profile" >
        </activity>
        <activity
            android:name="hcc.stepuplife.ReminderActivity"
            android:label="@string/title_activity_reminder" >
        </activity>

        <service
            android:name="hcc.stepuplife.StepUpLifeService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="hcc.stepuplife.meeting_start" />
            </intent-filter>
            <intent-filter>
                <action android:name="hcc.stepuplife.meeting_stop" />
            </intent-filter>
        </service>
    </application>

</manifest>